#!/bin/bash

INSTANCE_ID=`ec2metadata --instance-id`
INTERFACEATTACHID=`/usr/local/bin/aws ec2 describe-network-interfaces --network-interface-ids {{ aws_netint_id }} |grep AttachmentId |awk '{print $2}'|/bin/rev|/bin/cut -c 2-|/bin/rev|cut -d '"' -f 2`

while [ -n "$INTERFACEATTACHID" ]
do
      /sbin/ifdown {{ sec_net_int }}
      /usr/local/bin/aws ec2 detach-network-interface --attachment-id $INTERFACEATTACHID`
done
