#!/bin/bash

INSTANCE_ID=`ec2metadata --instance-id`
INTERFACEATTACHID=`/usr/local/bin/aws ec2 describe-network-interfaces --network-interface-ids {{ aws_netint_id }} |grep AttachmentId |awk '{print $2}'|/bin/rev|/bin/cut -c 2-|/bin/rev|cut -d '"' -f 2`

sleep 5
if [ -n "$INTERFACEATTACHID" ]
then
      /usr/local/bin/aws ec2 detach-network-interface --attachment-id $INTERFACEATTACHID
      sleep 15
      exit 0
fi
/usr/local/bin/aws ec2 attach-network-interface --instance-id $INSTANCE_ID --network-interface-id {{ aws_netint_id }} --device-index 1
sleep 10
/usr/sbin/ifup eth1