#!/bin/bash

INSTANCE_ID=`ec2metadata --instance-id`
INTERFACEATTACHID=`/usr/local/bin/aws ec2 describe-network-interfaces --network-interface-ids {{ aws_netint_id }} |grep AttachmentId |awk '{print $2}'|/bin/rev|/bin/cut -c 2-|/bin/rev|cut -d '"' -f 2`

while [ -z "$INTERFACEATTACHID" ]
do
      /usr/local/bin/aws ec2 attach-network-interface --instance-id $INSTANCE_ID --network-interface-id {{ aws_netint_id }} --device-index 1
      /sbin/ifup {{ sec_net_int }}
done
