#!/bin/bash

INSTANCE_ID=`ec2metadata --instance-id`
INTERFACEATTACHID=`/usr/local/bin/aws ec2 describe-network-interfaces --network-interface-ids {{ aws_netint_id }} |grep AttachmentId |awk '{print $2}'|/bin/rev|/bin/cut -c 2-|/bin/rev|cut -d '"' -f 2`

function checkdetach()
{
while [ -n "$INTERFACEATTACHID" ]
do
      sleep 1
      INTERFACEATTACHID=`/usr/local/bin/aws ec2 describe-network-interfaces --network-interface-ids {{ aws_netint_id }} |grep AttachmentId |awk '{print $2}'|/bin/rev|/bin/cut -c 2-|/bin/rev|cut -d '"' -f 2`
done
/usr/local/bin/aws ec2 attach-network-interface --instance-id $INSTANCE_ID --network-interface-id {{ aws_netint_id }} --device-index 1
}

function checkattach()
{
while [ -z "$INTERFACEATTACHID" ]
do
      sleep 1
      INTERFACEATTACHID=`/usr/local/bin/aws ec2 describe-network-interfaces --network-interface-ids {{ aws_netint_id }} |grep AttachmentId |awk '{print $2}'|/bin/rev|/bin/cut -c 2-|/bin/rev|cut -d '"' -f 2`
done
sleep 10
}

if [ -n "$INTERFACEATTACHID" ]
then
      /usr/local/bin/aws ec2 detach-network-interface --attachment-id $INTERFACEATTACHID &
      b=$!
      wait $b && checkdetach || /usr/local/bin/aws ec2 attach-network-interface --instance-id $INSTANCE_ID --network-interface-id {{ aws_netint_id }} --device-index 1
      checkattach
else
      /usr/local/bin/aws ec2 attach-network-interface --instance-id $INSTANCE_ID --network-interface-id {{ aws_netint_id }} --device-index 1 &
      b=$!
      wait $b && checkattach || sleep 10
fi
/usr/sbin/ifup {{ sec_net_int }}